apiKey: "AIzaSyCHAW3cvC72LuF6p7XZYtfNinXV1sm2tnc",
  authDomain: "crushit-af966.firebaseapp.com",
  projectId: "crushit-af966",
  storageBucket: "crushit-af966.firebasestorage.app",
  messagingSenderId: "332727235336",
  appId: "1:332727235336:web:28a427533370721eb272bd",
  measurementId: "G-J4GVBQ3LMN"